<div class="container pt-5 pb-5">
  <h1>Busca Filmes</h1>
  <h2>Buscando qualquer filme.</h2>

  <form [formGroup]="formMovie" (ngSubmit)="getMovie()" class="row">
    <div class="col-md-8">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="inputSearch"
          name="name"
          formControlName="name"
          placeholder="Digite um filme"
          (valueChange)="onKeypressEvent($event)"
        />
      </div>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
    <div class="col-md-2">
      <button type="button" (click)="reset()" class="btn btn-secondary">
        Reset
      </button>
    </div>
  </form>

  <div *ngIf="movie" class="row mt-5">
    <div class="col-md-9 d-flex flex-column align-items-start">
      <span class="title-movie">{{ movie?.Title }}</span>
      <span class="description-movie mb-3 mt-3">
        {{ movie?.Plot }}
      </span>

      <span class="mb-3">Actor: {{ movie?.Actors }}</span>
      <span
        >Review:
        <app-rate-star [score]="+movie.Metascore"></app-rate-star>
      </span>
      <button type="submit" class="btn btn-danger btn-favorite mt-3">
        Favorite <fa-icon [icon]="faHeart"></fa-icon>
      </button>
    </div>
    <div class="col-md-3">
      <img [src]="movie?.Poster" class="img-fluid" alt="movie image" />
    </div>
  </div>
</div>
